
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 100px;
  }
  
  .title {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #151b32;
    margin-bottom: 20px;
  }
  
  .navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
  
  .search-bar {
    display: grid;
    width: 330px;
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    bottom: 14px;
    color: #000;
    font-size: 26px;
  }
  .search {
    padding: 4px 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151b32;
    width: 100%;
    border: 1px solid #bbbcc1;
  }
  
  .navbar-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .nav-item {
    background-color: #fff;
    border: none;
    padding: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151b32;
    opacity: 0.8;
    border-radius: 8px;
  }
  
  .active {
    color: #fff;
    background-color: #849fff;
  }
#header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#nav-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

#nav-search {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 0;
}
#users {
    padding-left: 160px;
}
#nav-search {
    border-color: black;
    border: 1px solid;
    width: 250px;
}
.layout {
    display: flex;
    justify-content: space-around;
}





.container-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }
  .img-frame {
    width: 97px;
    height: 97px;
    display: flex;
    margin-right: 20px;
  }
  .img-frame img {
    width: 97px;
    height: 97px;
    height: auto;
    border-radius: 100%;
  }
  .element-main {
    display: flex;
    padding: 24px;
  }
  
  .name {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  
  .place {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18x;
    line-height: 21px;
    margin-bottom: 5px;
  }
  
  .khunginter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .interests {
    border: 1px dotted #516fd5;
    border-radius: 10px;
    padding: 1px 4px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #516fd5;
  }
  

  